*.dia~
*.autosave

# Compilation Products
*.o
*.out
lib*.so

# Generated Depends For Make
*.depend

CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# Valgrind and core dumps
massif.*
